@import "tailwindcss";

@font-face {
	font-family: "__08b57253-2e0d-4c12-9c57-107f6c67bc49__";
	src: url("../fonts/__Inter__.ttf") format("truetype");
}

:root {
	font-family: "__08b57253-2e0d-4c12-9c57-107f6c67bc49__", system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@theme {
	--color-primary: #e31e24;
	--color-primary-dark: #27004e;
	--color-background: #f4f7fa;

	--font-inter: "__08b57253-2e0d-4c12-9c57-107f6c67bc49__";
}
button,
a {
	cursor: pointer;
}
